@tailwind base;
@tailwind components;
@tailwind utilities;

.direction-ltr {
    direction: ltr;
}

.direction-rtl {
    direction: rtl;
}

@font-face {
    font-family: "Amazon Ember";
    src: local("../static/fonts")
        url("amazon_ember.ttf") format("truetype")
}